nav {
  width: 100vw;
  height: var(--navbar-height);
  border-bottom: var(--default-border);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--element-bg-color);
  font-family: var(--brand-font);
  padding: var(--padding-xs) 0;
  z-index: 99;
}

.nav__links {
  position: fixed;
  bottom: 0;
  background: var(--element-bg-color);
  width: 100vw;
  height: var(--navbar-height);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: var(--default-border);
}

.nav__links > * {
  justify-self: center;
  align-self: center;
}

.logo {
  font-size: var(--step-up-1);
  @media screen and (min-width: 770px) {
    flex-grow: 2;    
    display: flex;
    justify-content: space-between;
    padding-right: 11px;
  }
  
  @media screen and (min-width: 1080px) {
    padding-right: 1.25%;
  }
}

a#chat {
  position: absolute;
  right: 10px;
  @media screen and (min-width: 770px) {
    position: initial;
  }
}

#profile {
  box-sizing: content-box;
  height: 22px;
  width : 22px;
  transform: translateY(-1px);
  border-radius: 50%;
  overflow: hidden;
}

#profile img {
  height: 100%;
  width : 100%;
}

.flash-errors {
  position: absolute;
  bottom: -90vh;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  background: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: var(--margin-sm);
  padding: var(--padding-sm) var(--padding-md);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


@media screen and (min-width: 770px) {
  nav {
    justify-content: space-between;
    padding: 0 var(--padding-lg);
  }

  .nav__links {
    position: initial;
    width: 25vw;
    border-top: none;
    border-bottom: var(--default-border);
  }

  #new-post {
    order: 2;
  }

  #profile {
    order: 3;
    height: 25px;
    width : 24px;
    transform: translateY(0px);
  }
  
  .logo {
    font-size: var(--step-up-2);
  }

}

@media screen and (min-width: 1080px) {
  nav {
    padding: 0 calc(2 * var(--padding-lg));
  }
  .nav__links {
    width: 20vw;
  }
}
