extends layout
include mixins/_post

block styles
  link(rel="stylesheet", href="stylesheets/pages/main-feed.css")

block main
  main.index
    if posts.length
      each post in posts
        +_post(post, authUser)
    else
      .index__suggestion
        .index__suggestion-header
          | Welcome to #hashGram
        .index__suggestion-body
          | You can visit your 
          a(href=`/${authUser.handle}`)
            | profile
          |, share an image or follow other users. 
          p Here are some suggestions for you.
        .index__suggestion_users
          | list of users....

block scripts
  script.
    var _authUserHandle = "#{authUser && authUser.handle}"
  script(src="scripts/newComment.js")
  script(src="scripts/likePost.js")