extends layout
include mixins/_post

block styles
  link(rel="stylesheet", href="stylesheets/pages/post.css")

block main
  main.index
    section.post-list
      each post in posts
        +_post(post)