include mixins/_nav

doctype html
html
  head
    title #hashGram
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block styles
  body
    +_nav(user)
    block main
    block scripts