extends layout
include mixins/_gallery_image
include mixins/_profile_header

block styles
  link(rel="stylesheet", href="stylesheets/pages/profile.css")

block main
  main.profile
    header.profile__header
      +_profile_header(user)
    section.profile__gallery
      each post in posts
        +_gallery_image(post)