include ./icons

mixin _nav(authUser)
  nav
    .logo #hashGram
    .nav__links
      a(href="/" id="home")
        +homeIcon()
      a(href="#" id="explore")
        +searchIcon()
      a(href="/new-post" id="new-post")
        +newPostIcon()
      a(href="#" id="activity")
        +activityIcon()
      if authUser
        a(href=`/${authUser.handle}` id='profile')
          img(src=`https://www.gravatar.com/avatar/${authUser.avatar}?d=identicon&s=24`, alt='user profile picture')
      else 
        a(href="/signin" id="signin")
          +loginIcon()