mixin _post(post)
  article.post
    header.post__header
      .post__user-header-wrapper
      a(href='/' + post.handle)
        p.post__username 
          | #{post.handle}
    .post__main-image
      img(src=post.imageUrl)
    .post__footer
      p.post__caption 
        span.post__caption-username #{post.handle}
        | #{post.caption}