include _comment

mixin _post(post, authUser)
  article.post
    header.post__header
      .post__user-header-wrapper
      a(href='/' + post.handle)
        p.post__username 
          | #{post.handle}
    .post__main-image
      img(src=`https://hashgram.s3.amazonaws.com/user-content/${post.imageUid}`)
    .post__footer
      +_comment(post.handle, post.caption)
      if (post.comments)
        - let newestComments = post.comments.slice(-2)
        each comment in newestComments
          +_comment(comment.handle, comment.body)
      .post__new-comment
        textarea(name='comment' data-post-id=post.post_id rows='1' placeholder='Add a comment...')
        button.tertiary(data-auth=Boolean(authUser)) Post