mixin _profile_header(user)
  .profile__header-image
    .profile__image-wrapper
      img(src='https://instagram.fyka1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/12568074_1672421163017050_782833978_a.jpg?_nc_ht=instagram.fyka1-1.fna.fbcdn.net&_nc_ohc=jKWspIulthMAX_W5OAq&oh=29346213235b7f5ec2f9a60684ce8cd0&oe=5F78E391', alt='user profile picture')
  .profile__header-title
    span.profile__header-handle #{user.handle}
    button follow
  .profile__header-stats
    .profile__posts
      div # 
      .profile__stats-label posts
    .profile__follwers
      div #{user.followersCount}
      .profile__stats-label followers
    .profile__following
      div #{user.followingCount}
      .profile__stats-label following
  .profile__header-about
    .profile__name
      | #{user.firstName}
    .profile__bio
      | bios...