nav {
  width: 100vw;
  height: var(--navbar-height);
  border-bottom: var(--default-border);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--element-bg-color);
  font-family: var(--brand-font);
  padding: var(--padding-xs) 0;
  z-index: 99;
}

.nav__links {
  position: fixed;
  bottom: 0;
  background: var(--element-bg-color);
  width: 100vw;
  height: var(--navbar-height);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: var(--default-border);
}

.nav__links > * {
  justify-self: center;
  align-self: center;
}

.logo {
  font-size: var(--step-up-1);
}

@media screen and (min-width: 770px) {
  nav {
    justify-content: space-between;
    padding: 0 var(--padding-lg);
  }

  .nav__links {
    position: initial;
    width: 25vw;
    border-top: none;
    border-bottom: var(--default-border);
  }

  #new-post {
    order: 2;
  }

  #profile {
    order: 3;
  }
  
  .logo {
    font-size: var(--step-up-2);
  }

}

@media screen and (min-width: 1080px) {
  nav {
    padding: 0 calc(2 * var(--padding-lg));
  }
  .nav__links {
    width: 20vw;
  }
}
