.post {
  background: var(--element-bg-color);
  max-width: 600px;
  border-radius: 2px;
}

.post__main-image {
  width: 100vw;
  max-width: 600px;
}

.post__main-image img {
  width: 100%;
}

.post__header {
  height: 60px;
  display: flex;
  align-items: center;
}

.post__user-header-wrapper {
  width: 40px;
  height: 40px;
  margin: var(--margin-sm);
  margin-left: var(--margin-md);
  position: relative;
}

.post__user-header-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post__username {
  margin: var(--margin-xs);
  font-weight: 600;
}

.post__footer {
  padding: var(--padding-sm);
}

.post__caption-username {
  font-weight: 600;
  margin-right: var(--margin-xs);
}

@media screen and (min-width: 600px) {
  .post {
    border: 1px solid #ddd;
    margin: var(--margin-lg);
  } 
  
  .post__footer {
    padding: var(--padding-md);
  }
}